*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Inter',sans-serif;
}

body{
  background:#fefefa;
  
}

.hero{
  width:100vw;
  border-radius:22px;
  padding:50px 70px 70px;
  position:relative;
  overflow:hidden;
  background:#fefefa;
  opacity: 1;
}

/* NAVBAR */
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:70px;
}

.logo{
  font-size:18px;
  font-weight:600;
  letter-spacing:.5px;
  display: flex;
  flex-direction: row;
  color:#000;
}
.logo img{
  width: 50px;
  height: 50px;
}

.nav-links{
  list-style:none;
  display:flex;
  gap:35px;
  font-size:14px;
  opacity:.85;
 

}

.nav-links li{
  cursor:pointer;
  border: none;
  text-decoration: none;

}
ul li a{
  text-decoration: none;
   color: black;
}
.search-box {
  padding: 10px 18px;
  border-radius: 25px;
  border: 1px solid rgba(255,255,255,0.3);
  background: rgba(255,255,255,0.08);
  color: rgb(105, 25, 25);
  outline: none;
  font-size: 14px;
  width: 200px;
  backdrop-filter: blur(8px);
  transition: 0.3s ease;
}

.search-box::placeholder {
  color: rgba(160, 61, 61, 0.6);
}

.search-box:focus {
  border-color: #f6c36c;
  box-shadow: 0 0 8px rgba(246,195,108,0.6);
}


.search-wrapper {
  position: relative;
  width: 240px;
}

.search-wrapper input {
  width: 100%;
  padding: 10px 18px 10px 42px; /* left padding for icon */
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  color: white;
  font-size: 14px;
  outline: none;
  transition: all 0.3s ease;
}

.search-wrapper input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.search-wrapper input:focus {
  border-color: #f6c36c;
  box-shadow: 0 0 12px rgba(246, 195, 108, 0.6);
}

.search-icon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  opacity: 0.7;
  pointer-events: none;
}
